.tabla-container form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--margin-X);
}

.tabla-container form select{
    outline: none;
    border: none;
    background-color: var(--color2);
    font-family: var(--fontFamily);
    font-size: var(--fontSizeText-lg);
    text-transform: uppercase;
    padding: 8px 12px;
    border: 1px solid var(--color1);
    border-radius: 10px;
}

.tabla-container table{
    width: 100%;
    margin: var(--margin-Y) auto;
    font-size: var(--fontSizeText-lg);
    text-align: center;
    border-collapse: collapse;
}

.tabla-container table thead{
    color: var(--color2);
}

.tabla-container table thead tr th {
    text-transform: uppercase;
    padding: 2px 6px;
}

.tabla-container table thead tr th {
    background-color: var(--color1);
}

.posiciones-container table thead tr th:nth-child(2){
    width: 40%;
}

.tabla-container table tbody{
    border-collapse: collapse;
}

.tabla-container table tbody tr td {
    text-transform: uppercase;
    padding: 5px;
    color: var(--color1);
}

.tabla-container table tbody tr .td-nombreEquipo{
    text-align: left;
    display: flex;
    gap: var(--margin-X);
}

.td-nombreEquipo .td-escudoEquipo img{
    width: 18px;
    height: auto;
    object-fit: cover;
}

.tabla-container table tbody tr .td-nombreEquipoCorto{
    display: none;
}

.tabla-container table tbody tr:nth-child(odd) td{
    background-color: #c8c8c8;
}
.tabla-container table tbody tr:nth-child(even) td{
    background-color: #bfbfbf;
}


/* border redondeados para las esquinas de la tabla */
.tabla-container table thead tr th:first-child{
    border-top-left-radius: 5px;
}
.tabla-container table thead tr th:last-child{
    border-top-right-radius: 5px;
}

.tabla-container table tbody tr:last-child td:last-child{
    border-bottom-right-radius: 5px;
}
.tabla-container table tbody tr:last-child td:first-child{
    border-bottom-left-radius: 5px;
}

.tabla-container .genericButton-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* calendario */
.calendario-container table tbody tr{
    position: relative;
}

.calendario-container table tbody tr .td-nombreEquipo{
    position: relative;
    justify-content: space-between;
    gap: 0;
}

.calendario-container table thead tr th:nth-child(1), .calendario-container table thead tr th:nth-child(3){
    width: 40%;
}

.calendario-container .td-diaPartido, .calendario-container .td-horaPartido{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    font-size: 16px;
}

.calendario-container .td-diaPartido img,
.calendario-container .td-horaPartido img{
    width: 14px;
}

/* primera opcion de goleadores */
/* .calendario-container table tbody .goleadores-visitantes-container, .calendario-container table tbody .goleadores-locales-container{
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color1);
    color: var(--color2);
    border-radius: 10px;
    opacity: 0;
    padding: 4px;
}

.calendario-container table tbody .goleadores-visitantes-container{
    left: 0;
    align-items: flex-end;
}

.calendario-container table tbody .goleadores-locales-container{
    right: 0;
    align-items: flex-start;
}

.calendario-container table tbody .goleadores-locales-container span::before{
    content: '⚽';
    font-size: 20px;
}

.calendario-container table tbody .goleadores-visitantes-container span::after{
    content: '⚽';
    font-size: 20px;
}


.calendario-container table tbody tr:hover .goleadores-visitantes-container{
    z-index: 10;
    top: 100%;
    opacity: 1;
    transition:all var(--transitionTime);
}

.calendario-container table tbody tr:hover .goleadores-locales-container{
    z-index: 10;
    top: 100%;
    opacity: 1;
    transition:all var(--transitionTime);
}

.calendario-container table tbody .goleadores-locales-container span::before{
    content: '⚽';
    font-size: 20px;
} */

/* segunda opcion de goleadores */
.calendario-container  .goleadores-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: var(--color3);
    border: 1px solid var(--color1);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: var(--color2);
    opacity: 0;

}

.calendario-container  .goleadores-container .goleadores-locales, .goleadores-container .goleadores-visitantes{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
}

.calendario-container .goleadores-container .goleadores-locales{
    align-items: flex-start;
}

.calendario-container .goleadores-container .goleadores-locales span::before{
    content: '⚽';
    font-size: 20px;
}

.calendario-container .goleadores-container .goleadores-visitantes span::after{
    content: '⚽';
    font-size: 20px;
}

.calendario-container .goleadores-container .goleadores-visitantes{
    align-items: flex-end;
}

.calendario-container table tbody tr:hover .goleadores-container{
    opacity: 1;
    top: 100%;
    z-index: 10;
    transition: var(--transitionTime);
}

/* goleadores section */
.goleadores-section-container .goleador-nombre{
    padding-left: 20px;
    text-align: left;
}

tr:hover{
    font-weight: 700;
    cursor: pointer;
}

@media (max-width: 992px) {
    .tabla-container table{
        width: 95%;
    }
}

@media (max-width: 768px) {
    .tabla-container table tbody tr .td-nombreEquipoLargo{
        display: none;
    }
    
    .tabla-container table tbody tr .td-nombreEquipoCorto{
        display: block;
    }

    
}

@media (max-width: 576px) {
    .tabla-container form select{
        font-size: var(--fontSizeText-md);
        padding: 4px 6px;
    }

    .posiciones-container table{
        font-size: var(--fontSizeText-md);
    }

    .posiciones-container table tbody tr td{
        padding: 5px 2px;
    }

    .posiciones-container table thead tr th:nth-child(2){
        width: 20%;
    }

    .posiciones-container table tbody tr .td-nombreEquipo{
        gap: 2px;
    }

    /* calendario */
    .calendario-container .goleadores-container{
        flex-direction: column;
        font-size: 16px;
    }

    .calendario-container .goleadores-container .goleadores-locales, .calendario-container .goleadores-container .goleadores-visitantes{
        width: 100%;
    }

    .calendario-container .goleadores-container .goleadores-visitantes span::after{
        font-size: 12px;
    }

    .calendario-container .goleadores-container .goleadores-locales span::before{
        font-size: 12px;
    }

    /* goleadores section */
    .goleadores-section-container table{
        font-size: var(--fontSizeText-md);
    }

    .goleadores-section-container table .goleador-nombre{
        padding: 5px 2px;
    }
}

@media (max-width: 380px) {
    .td-goles{
        display: none;
    }
    .th-goles{
        display: none;
    }

    /* calendario */
    .calendario-container .td-diaPartido img,
    .calendario-container .td-horaPartido img{
        display: none;
    }

    /* goleadores section */
    .goleadores-section-container table{
        font-size: 14px;
    }
    .goleadores-section-container table tbody tr .td-nombreEquipoCorto{
        display: none;
    }
}