footer{
    width: 100vw;
    height: auto;
    padding: 1.4em;
    background-color: #232323;
}

footer nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 992px;
    margin: 0 auto;
    color: var(--color2);
}

footer .footer-texto{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80%;
}

footer .footer-logo{
    display: flex;
    align-items: center;
    gap: 3px;
}

footer .footer-logo span{
    font-size: 20px;
}

footer .footer-logo img{
    width: 20px;
    object-fit: cover;
}

footer .footer-texto h4{
    font-size: 18px;
    font-weight: 400;
}

footer .footer-texto h4 a{
    color: var(--color2);
    font-weight: 700;
}

footer .footer-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 20%;
    border-left: 1px solid #FF9800;
}

footer .footer-redes a img{
    width: 20px;
}

footer .footer-redes a img:hover{
    opacity: .8;
}

@media (max-width: 992px) {
    footer{
        margin-top: 40px;
    }

    .footer-logo{
        padding-left: 20px;
    }
}

@media (max-width: 768px) {
   footer nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
   }

   .footer-texto{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
   }

   footer .footer-texto h4{
        text-align: center;
    }

   .footer-logo{
    text-align: center;
    padding-left: 0px;
    }

    footer .footer-redes{
        border-left: unset;
        border-top: 1px solid #FF9800;
        padding-top: 10px;
    }
}