header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--headerHeight);
    background-color: var(--color1);
    z-index: 10000;
}

header nav{
    max-width: 992px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .nav-left{
    width: 30%;
    height: 100%;
}

header nav .nav-left .nav-logo-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .nav-left .nav-logo{
    height: 100%;
    display: flex;
    align-items: center;
}

header nav .nav-left .nav-logo img{
    width: var(--fontSizeLogo);
    height: auto;
}

header nav .nav-left .nav-logo span{
    font-size: var(--fontSizeLogo);
    text-transform: uppercase;
    color: #03498D;
    font-weight: 900;
}
header nav .nav-left .nav-logo span:last-child{
    color: #DE0225;
}

header nav .nav-right{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* toggle boton */
.nav-toggleMenu{
    width: 40px;
    height: 40px;
    display: none;
    background-color: transparent;
    outline: none;
    border: none;
}

.nav-toggleMenu img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 992px) {
    header nav {
        padding: 0 20px;
    }
    .nav-toggleMenu{
        display: block;
    }

    header nav .nav-right{
        position: absolute;
        min-height: 100vh;
        top: var(--headerHeight);
        width: 100vw;
        background-color: var(--color3);
        flex-direction: column;
        justify-content:flex-start;
        align-items: flex-end;
        padding-top: 50px;
        padding-right: 50px;
        gap: 40px;
    }

    .toggleMenu--inactive{
        left: 200%;
        transition: var(--transitionTime);
    }

    .toggleMenu--active{
        left: 0;
        transition: var(--transitionTime);
    }
}