.navItem{
    color: var(--color2);
    font-size: var(--fontSizeNavItem-lg);
    text-transform: uppercase;
    padding: 8px 10px;
    border-radius: var(--borderRadius);
}

.navItem:hover{
    background-color: var(--color3);
}

.active{
    background-color: var(--color2);
    color: var(--color1);
}

.active:hover{
    opacity: .95;
    color: var(--color2);
}

@media (max-width: 992px) {
    .navItem{
        font-size: 50px;
    }
}
@media (max-width: 400px) {
    .navItem{
        font-size: 40px;
    }
}